.navbar-toggler {
    background-color: green;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#collapsibleNavbar {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}