.resultIcon {
    height: 27px;
    width: 27px;
}

.text-truncate {
    display: block
}

#resultEntry, #resultHikingContainer {
    padding: 0px;
    margin: auto;
}

/*styling to give more room to results*/
#eventCard {
    padding: 10px !important;
}
/*styling to give more room to results*/
#hikingCard {
    padding: 10px;
}
/*styling to give more room to results*/
#restaurantCard {
    padding: 10px;
}

.resultWrapper {
    padding: 0px;
    margin-top:5px;
    margin-bottom: 5px;
    margin-left: 0px;
    
}

.linkMod {
    color: green;
    font-weight: bold;
}

.linkMod:hover {
    color: green;
}

.resultButton {
    margin-top: 2%;
    margin-bottom: 2%;
}