.resultIcon {
    height: 27px;
    width: 27px;
}

.text-truncate {
    display: block
}

#resultEntry {
    padding: 0px;
    margin: auto;
}

#eventCard {
    padding: 10px !important;
}

.resultWrapper {
    padding: 0px;
    
}

.linkMod {
    color: green;
    font-weight: bold;
}

.linkMod:hover {
    color: green;
}

.resultButton {
    margin-top: 2%;
    margin-bottom: 2%;
}