#weatherCard {
    display: flex;
    flex-flow: column wrap;
    box-shadow: 0px 1px 10px 0px #4d94ff;
    overflow: hidden;
    border-radius: 15px;
    border-color: #4d94ff;
    color: #4d94ff;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 50px;
    margin-bottom: 20px;
}

h5 {
    font-weight: bold;
}

.friHighTemp {
    color: #cc0000;
    font-weight: bold;
}

.satHighTemp {
    color: #cc0000;
    font-weight: bold;
}

.sunHighTemp {
    color: #cc0000;
    font-weight: bold;
}

.friLowTemp {
    color: #000066;
    font-weight: bold;
}

.satLowTemp {
    color: #000066;
    font-weight: bold;
}

.sunLowTemp {
    color: #000066;
    font-weight: bold;
}






