#weatherCard {
    display: flex;
    flex-flow: column wrap;
    box-shadow: 0px 1px 10px 0px #cfcfcf;
    overflow: hidden;
    border-radius: 15px;
    background-color: #4d94ff;
    color: #ffffff;
    margin: 5px;
}

.friHighTemp {
    color: #ff0066;
}

.satHighTemp {
    color: #ff0066;
}

.sunHighTemp {
    color: #ff0066;
}

.friLowTemp {
    color: #000066;
}

.satLowTemp {
    color: #000066;
}

.sunLowTemp {
    color: #000066;
}





